@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    *{
        margin: 0px;
        padding: 0px;
    }
}
header{
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1568206222579-3d32da70596b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80') bottom / cover;
    box-shadow: inset rgba($color: #000000, $alpha: .6);
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 20px 0px;
        background-color: rgba(47, 47, 47, 47);
        li{
            a{
                font-size: 25px;
                color: black;
                text-decoration: none;
                font-weight: 600;
                transition: 500ms;
                &:hover{
                    color: rgb(209, 209, 209);
                    text-shadow: 0px 0px 10px rgb(200, 200, 200);
                }
            }
        }
    }
}
main{
    .btn{
        padding: 15px 20px;
        background-color: rgb(221, 136, 0);
        color: white;
        border: none;
        font-weight: 600;
    }
    .card{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div{
            width: 220px;
            margin: 40px 20px;
            background-color: rgb(224, 224, 224);
            text-align: center;
            padding: 20px;
            img{
                width: 25%;
            }
            h3{
                margin: 15px 0px;
            }
        }
    }
    .scene{
        display: flex;
        justify-content: center;
        padding: 40px;
        background-color: rgb(5, 14, 27);
        div{
            width: 600px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0px 50px;
            color: white;
            p{
                margin: 40px 0px;
            }
        }
    }
    .goods{
        text-align: center;
        h1{
            font-size: 45px;
            position: relative;
            &::before{
                content: '';
                width: 150px;
                position: absolute;
                border: 2px solid rgb(221, 136, 0);
                bottom: 0px;
                left: 45%;
            }
        }
        p{
            width: 40%;
            font-size: 20px;
            margin: 20px auto;
        }
        section{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img{
                width: calc(100% / 4);
                height: 200px;
            }
        }
    }
    .skills{
        display: flex;
        justify-content: center;
        padding: 50px;
        div:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            background-color: rgb(149, 149, 149);
            margin: 10px;
            img{
                width: 180px;
                border-radius: 50%;
            }
        }
        div:nth-child(2){
            background-color: rgb(149, 149, 149);
            padding: 20px;
            margin: 10px;
            p{
                margin: 20px 0px;
            }
            div{
                display: flex;
                justify-content: space-between;
                margin: 20px 0px;
                h3{
                    font-weight: 400;
                }
            }
        }
        
    }
}

